In [2]:
library(dplyr)
library(ggplot2)
library(readr)
library(data.table)

In [3]:
rd <- fread("D:\\Lending Club\\Accepted Data.csv")

In [4]:
result <- rd[,c('addr_state', 'annual_inc', 'application_type', 'dti', 'earliest_cr_line', 'emp_length', 'emp_title', 'fico_range_high'
 , 'fico_range_low', 'grade', 'home_ownership', 'id', 'initial_list_status', 'installment', 'int_rate', 'issue_d'
 , 'loan_amnt', 'loan_status', 'mort_acc', 'open_acc', 'pub_rec', 'pub_rec_bankruptcies', 'purpose'
 , 'revol_bal', 'revol_util', 'sub_grade', 'term', 'title', 'total_acc', 'verification_status', 'zip_code')]

In [5]:
str(result)
check <- c('addr_state', 'annual_inc', 'application_type', 'dti', 'earliest_cr_line', 'emp_length', 'emp_title', 'fico_range_high'
 , 'fico_range_low', 'grade', 'home_ownership', 'id', 'initial_list_status', 'installment', 'int_rate', 'issue_d'
 , 'loan_amnt', 'loan_status', 'mort_acc', 'open_acc', 'pub_rec', 'pub_rec_bankruptcies', 'purpose'
 , 'revol_bal', 'revol_util', 'sub_grade', 'term', 'title', 'total_acc', 'verification_status', 'zip_code')

Classes 'data.table' and 'data.frame':	2260701 obs. of  31 variables:
 $ addr_state          : chr  "PA" "SD" "IL" "NJ" ...
 $ annual_inc          : num  55000 65000 63000 110000 104433 ...
 $ application_type    : chr  "Individual" "Individual" "Joint App" "Individual" ...
 $ dti                 : num  5.91 16.06 10.78 17.06 25.37 ...
 $ earliest_cr_line    : chr  "Aug-2003" "Dec-1999" "Aug-2000" "Sep-2008" ...
 $ emp_length          : chr  "10+ years" "10+ years" "10+ years" "10+ years" ...
 $ emp_title           : chr  "leadman" "Engineer" "truck driver" "Information Systems Officer" ...
 $ fico_range_high     : int  679 719 699 789 699 694 684 709 689 704 ...
 $ fico_range_low      : int  675 715 695 785 695 690 680 705 685 700 ...
 $ grade               : chr  "C" "C" "B" "C" ...
 $ home_ownership      : chr  "MORTGAGE" "MORTGAGE" "MORTGAGE" "MORTGAGE" ...
 $ id                  : chr  "68407277" "68355089" "68341763" "66310712" ...
 $ initial_list_status : chr  "w" "w" "w" "w" ...
 $ installment         : num  123 820 433 830 290 ...
 $ int_rate            : num  14 12 10.8 14.8 22.4 ...
 $ issue_d             : chr  "Dec-2015" "Dec-2015" "Dec-2015" "Dec-2015" ...
 $ loan_amnt           : int  3600 24700 20000 35000 10400 11950 20000 20000 10000 8000 ...
 $ loan_status         : chr  "Fully Paid" "Fully Paid" "Fully Paid" "Current" ...
 $ mort_acc            : int  1 4 5 1 6 0 4 3 1 1 ...
 $ open_acc            : int  7 22 6 13 12 5 12 8 14 8 ...
 $ pub_rec             : int  0 0 0 0 0 0 0 0 1 0 ...
 $ pub_rec_bankruptcies: int  0 0 0 0 0 0 0 0 1 0 ...
 $ purpose             : chr  "debt_consolidation" "small_business" "home_improvement" "debt_consolidation" ...
 $ revol_bal           : num  2765 21470 7869 7802 21929 ...
 $ revol_util          : num  29.7 19.2 56.2 11.6 64.5 68.4 84.5 5.7 34.5 39.1 ...
 $ sub_grade           : chr  "C4" "C1" "B4" "C5" ...
 $ term                : chr  "36 months" "36 months" "60 months" "60 months" ...
 $ title               : chr  "Debt consolidation" "Business" "" "Debt consolidation" ...
 $ total_acc           : int  13 38 18 17 35 6 27 15 23 18 ...
 $ verification_status : chr  "Not Verified" "Not Verified" "Not Verified" "Source Verified" ...
 $ zip_code            : chr  "190xx" "577xx" "605xx" "076xx" ...
 - attr(*, ".internal.selfref")=<externalptr>

In [6]:
colnames(result) == check

 [1] TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE
[16] TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE
[31] TRUE

In [7]:
fwrite(result,"D:\\Lending Club\\Default.csv")

In [ ]:
tb <- table(result$emp_title)

In [ ]:
tb2 <- tb[tb>5000]
wordcloud(names(tb2),tb2,colors=brewer.pal(5,"Dark2"),scale = c(20,.4)) +
    title("employed title counted over 6000")

In [ ]:
table(result$grade)

In [ ]:
table(result$sub_grade)

In [ ]:
ggplot(result,aes(x = sub_grade,fill = grade))+
    geom_bar()+
    coord_flip()